// Set blue Color to semantic Pages
body.page-Category_Resource,body.page-Special_BrowseData_Resource,
body.page-Special_BrowseData_Theme, body.page-Category_Theme,
body.page-Special_BrowseData_Guide, body.page-Category_Guide, body.ns-7900,
body.page-Special_BrowseData_Training, body.page-Category_Training, body.page-Trainings,
body.page-Special_BrowseData_Instruction, body.page-Category_Instruction,
body.page-Founders{
  background: $te-verylightblue;
}

#bodyContent #toc, aside #toc {
  display: none;
}

// Hide Category links, Indicators (Help link, ...), sidebar-items, h1.firstHeading, .contentHeader
#content {

  // hide sidebar elements in content
  .sidebar-items{
    display: none;
  }

  // padding for body
  // padding: 0 16px !important;

  #catlinks, #mw-indicators, .sidebar-item, h1.firstHeading, .contentHeader {
    display: none;
  }

  // Category-list inside Drilldown
  #drilldown-categories-wrapper {
    display: none;
  }
}

// reset heading properties
h1, h2, h3, h4, h5, h6 {
  padding: 0;
}
.mw-body h1, .mw-body h2{
  margin-top:0;
}

// Header Component adjustments
@media (min-width: 1024px){
  .pageheader-title img {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    margin-right: 20px;
  }
}

.pageheader-title img {
  width: 58px;
  height: 47px;
}

.pageheader-form-link{
  position: absolute;
  top: 0;
  right: 0;
}

//formating Link hover style
.pageheader-back.te-mw-link:hover, .te-mw-link:hover{
  cursor:pointer;
}
.pageheader-back a.image{
  margin-right:10px;
}

// Style Mailchimp
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}


// style Mailchimp in about page
#bodyContent {
  #mc_embed_signup form {
    margin-left: 0;
    margin-bottom: 15px;
  }

  #mc_embed_signup input.email{
    border-bottom: 2px solid #567c83 !important;
  }
}


// SD FILTERS
// ---------------------------------------------------------
// disable SD filters and SD page navigation and leading <p><br></p> tags on drilldown filters
/*#drilldown-header, #drilldown-header + p, body.page-Category_Resource .alert.alert-info,
body.page-Category_Theme .alert.alert-info, .drilldown-filters,*/
.drilldown-filters + p, .drilldown-filters + p + p,
div.pageheader.row.no-gutters + p {
  display:none
}

// hide page navigation in bottom of result page
.drilldown-results .mw-spcontent .rt-default-wrapper + p {
  display: none;
}

// hide filter header
/*#drilldown-header, #drilldown-header + p{
  display: none;
}*/

// hide alert header in for filters
/*.drilldown-results .alert-info{
  display: none;
}*/

// Page Forms
// adjust row padding
.sfFieldRow{
  padding-bottom:20px;
}
#pfForm .select2-container, .sfFieldContent .inputSpan .createboxInput{
  min-width:100px !important;
  width:100% !important;
}

// hide summary and submit options
#pfForm .formsummary, #pfForm .formsubmitoptions{
  display: none
}

.form-template-wrapper {
  .panel-heading{
    font-family: regular-bold;
  }
}

// temporarly adjustments
.smw-edit-dropdown .menu-dots img {
  width: 3px;
  height: auto;
}

// Blocks on the login page
#userloginForm {
  .mw-form-related-link-container, #mw-createaccount-cta{
    display: none;
  }
}

// Remove green box of ext Edit warnings
.note.edit-warning-infobox{
  display: none;
}


// HISTORY =====================================================================

#mw-history-search fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin: 1em 0 1em 0;
  padding: 0 1em 1em;
  line-height: 1.5em;
  min-width: 0;
}

// Year input
#mw-history-search input#year {
  padding-left: 4px;
  width: 7rem;
  margin-right: 2rem;
}

// Month input
#mw-history-search select#month {
  height: 2.5rem;
}

// Hide "Tag filter" label and input
#mw-history-search > label:nth-child(8), #mw-history-search .mw-tagfilter-input, #mw-history-search #mw-show-deleted-only {
  display: none;
}

// Hide "Revision deleted only"
#mw-history-search > label:nth-child(11) {
  display: none;
}

// "Show" button to apply the filter
#mw-history-search > input[type=submit]:nth-child(12) {
  display: block;
}

.mw-history-legend {
  display: none;
}

ul#pagehistory {
  margin-top: 2rem;
  list-style: none;

  .mw-history-legend, .mw-history-histlinks, .mw-usertoollinks, .history-size, .mw-changeslist-separator {
    display: none;
  }

  li.selected {
    border: none;
  }

  li {
    border: none;
    margin-top: 2px;
    padding-left: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-left: -1rem;
  }
}

// Overwrite link color for external links inside cards on training landing page

div.card.is-trainings .card-header a.external {
	color: #000;
}
